*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: black;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(cwl.jpg);
    height: 750px;
    background-size: cover;
    background-position: center;
    
}
ul{
    list-style-type: none;
    float: right;
    margin-top: 25px;
    text-transform: uppercase;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 5px 25px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    font-size: 30px;
}

ul li a:hover{
    background-color: white;
    color: black;
}

ul li.active a{
    background-color: white;
    color: black;
} 

.main{
    max-width: 900px;
    margin:auto;
}
h1{
    padding: 300px 30px;
    color:white;
    font-size: 60px;
    
}
p{
    color: white;
  text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
}
.button{
    position: absolute;
    top: 6.5%;
    left: 90%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid white;
    padding: 15px 30px;
    color:white;
    text-decoration: none;
    transition: 0.6s ease;
    background-color:;
}

.btn:hover{
    border:1px solid white;
    background-color:white;
    color:black;
}
.swiper-container {
      width:100%;
      height: 600;
    }
.swiper-slide {
      text-align: center;
      font-size: 18px;
      background:black;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.container{
    width: 1100px;
    background-color:firebrick;
    height: 400px;
    margin:50px 200px;
    display: flex;
}
h2{
    padding: 10px 50px;
    font-size: 30px;
}
ol{
    margin: 10px;
    letter-spacing: 2px;
}
ol li{
    font-size: 20px;
    padding: 10px;
    text-align: justify;
}
h3{
font-size: 30px;
    padding: 10px 50px;
}
.boe{
    padding: 0px 55px;
}
.box{
    padding: 0px 20px;
}
.butn{
    font-family:cursive;
    position: absolute;
    left: 30%;
    top:230%;
   
}
.bto{
     border: 1px solid orangered;
    list-style: none;
    text-decoration: none;
    color:orangered;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 5px;
}
.bto:hover{
    text-decoration: none;
    color: orangered;
}
.buton{
    font-family:cursive;
    position: absolute;
    left: 45%;
    top: 230%;
   
}
.btn1{
     border: 1px solid green;
    list-style: none;
    text-decoration: none;
    color:green;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 5px;
}
.btn1:hover{
    text-decoration: none;
    color: green;
}
.bntt{
    font-family:cursive;
    position: absolute;
    left: 30%;
    top:220%;
   
}
.bot{
     border: 1px solid blueviolet;
    list-style: none;
    text-decoration: none;
    color:blueviolet;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 5px;
}
.bot:hover{
    text-decoration: none;
    color: blueviolet;
    
}
.bttn{
    font-family:cursive;
    position: absolute;
    left: 45%;
    top: 220%;
   
}
.butt{
     border: 1px solid darkcyan;
    list-style: none;
    text-decoration: none;
    color:darkcyan;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 5px;
}
.butt:hover{
    text-decoration: none;
    color:darkcyan;
}
p3{
    float:right;
}
p3 a{
    color: firebrick;
    font-size: 20px;
}
p3 a:hover{
    list-style: none;
    text-decoration: none;
}
.nav-item{
        padding:0px 5px;
}